@import url('https://fonts.googleapis.com/css?family=Nunito');
.miboton {
 width:200px;
 margin:0 auto;
 transition:all 0.8s;

}
.mboton{
  
  width:100px;
  height:200px;
  background-color:#2a83be;
  padding:14px 40px;
  text-align:center;
  vertical-align: middle;
  color:#fff;
  border-radius:8px;
  cursor:pointer;
  border:1px solid rgba(0,0,0,0.05);
    
}
.mboton:hover{
  background-color:#121212;
}
.miboton > a{
  text-decoration:none;
  font-family: 'Nunito', sans-serif;
  font-size:17px;
}
.margen-right{
  margin-right:6px !important;
}


.miboton:hover{
    -webkit-transform: translateY(-5px);
  -moz-webkit-transform: translateY(-5px);
  -ms-webkit-transform: translateY(-5px);
  -o-webkit-transform: translateY(-5px);
  transform:translateY(-9px);
}

